.layout-content{
  padding: 24px;
  flex: 0 0 auto;
  background: var(--ant-color-bg-container);
  border-radius: var(--ant-border-radius-lg);
}

.layout-content-margin-bottom{
  margin: 0px 0px 20px;
}

.home-layout{
  padding: 0 24px 24px;
}
